<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.hanboa.client.ClientMapper">

<!-- 거래처 조회+검색+페이징 -->
	<select id="getClientList"
			resultType="com.cafe24.hanboa.client.Client">
		SELECT
			client_cd as clientCd
			,client_phone as clientPhone
			,client_type as clientType
			,client_nm as clientNm
			,client_manager as clientManager
			,client_address as clientAddress
			,client_registration_date as clientRegistrationDate
			,client_registrant as clientRegistrant
			,license_kindergarten as licenseKindergarten
		FROM TB_CLIENT	
		<if test="keyword !=null">
			WHERE ${searchOption} LIKE CONCAT('%',#{keyword},'%')
		</if>
		LIMIT #{startPage}, #{pagePerRow}
	</select>
<!-- 전체 거래처 카테고리 수 (페이징)-->
	<select id="selectClientCountByPage" resultType="int">
		SELECT COUNT(*) FROM TB_CLIENT
	</select>	
<!-- 거래처항목별 조회 -->
	<select id="getClientOne"
			parameterType="String"
			resultType="com.cafe24.hanboa.client.Client">
		SELECT
			client_cd as clientCd	
			,client_type as clientType
			,client_nm as clientNm
			,client_phone as clientPhone
			,client_manager as clientManager
			,client_address as clientAddress
			,client_registrant as clientRegistrant
		FROM TB_CLIENT
		WHERE client_cd = #{clientCd}			
	</select>
<!-- 거래처 등록 -->
	<insert id = "clientAdd" parameterType="com.cafe24.hanboa.client.Client">
	<selectKey resultType="String" keyProperty="clientCd" order="BEFORE">
			SELECT CONCAT('CLIE', '_', (SELECT LPAD(COUNT(*)+1,4,'0') FROM TB_CLIENT ))
	</selectKey>
		INSERT INTO TB_CLIENT
			(client_cd
			,client_phone
			,client_type
			,client_nm
			,client_manager
			,client_address
			,client_registration_date
			,client_registrant
			,license_kindergarten)
		VALUES
			(#{clientCd}
			,#{clientPhone}
			,#{clientType}
			,#{clientNm}
			,#{clientManager}
			,#{clientAddress}
			,#{clientRegistrationDate}
			,#{clientRegistrant}
			,#{licenseKindergarten})		
	</insert>
	
<!-- 수정처리 -->
	<update id ="clientModify" parameterType="com.cafe24.hanboa.client.Client">
		UPDATE TB_CLIENT
		SET
			client_type = #{clientType}
			,client_nm = #{clientNm}
			,client_phone = #{clientPhone}
			,client_manager = #{clientManager}
			,client_address = #{clientAddress}
			,client_registrant = #{clientRegistrant}
		WHERE client_cd = #{clientCd}
	</update>

<!-- 삭제처리 -->
	<delete id="clientDelete" parameterType="com.cafe24.hanboa.client.Client">
		DELETE 
		FROM TB_CLIENT
		WHERE client_cd = #{clientCd}
	</delete>


</mapper>