<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.hanboa.contract.ContractMapper">

<!-- 계약 조회 -->
	<select id="getContractList" resultType="com.cafe24.hanboa.contract.Contract">
		SELECT
			contract_cd as contractCd
			,contract_start_date as contractStartDate
			,contract_end_date as contractEndDate
			,client_cd as clientCd
			,contract_amount as contractAmount
			,contract_contents as contractContents
			,contract_type as contractType
			,contract_registration_date as contractRegistrationDate
			,contract_registrant as contractRegistrant
			,license_kindergarten as licenseKindergarten
		FROM hanboa.TB_CONTRACT	
	</select>

<!-- 계약 항목별 조회 -->
	<select id = "getContractOne"
			parameterType="String"
			resultType="com.cafe24.hanboa.contract.Contract">
		SELECT
			contract_cd as contractCd
			,contract_start_date as contractStartDate
			,contract_end_date as contractEndDate
			,client_cd as clientCd
			,contract_amount as contractAmount
			,contract_contents as contractContents
			,contract_type as contractType
			,contract_registrant as contractRegistrant
		FROM TB_CONTRACT
		WHERE contract_cd = #{contractCd}
	</select>
<!-- 계약 등록 -->
	<insert id = "contractAdd" 
			parameterType="com.cafe24.hanboa.contract.Contract">
	<selectKey resultType="String" keyProperty="contractCd" order="BEFORE">
			SELECT CONCAT('CONT', '_', (SELECT LPAD(COUNT(*)+1,4,'0') FROM TB_CONTRACT ))
	</selectKey>
		INSERT INTO TB_CONTRACT(
			contract_cd
			,contract_start_date
			,contract_end_date
			,client_cd
			,contract_amount 
			,contract_contents
			,contract_type
			,contract_registration_date
			,contract_registrant
			,license_kindergarten)
		VALUES(
			#{contractCd}
			,#{contractStartDate}
			,#{contractEndDate}
			,#{clientCd}
			,#{contractAmount}
			,#{contractContents}
			,#{contractType}
			,#{contractRegistrationDate}
			,#{contractRegistrant}
			,#{licenseKindergarten})
	</insert>
<!-- 계약 수정 -->
	<update id = "contractModify" parameterType="com.cafe24.hanboa.contract.Contract">
		UPDATE TB_CONTRACT
		SET			
			contract_start_date = #{contractStartDate}
			,contract_end_date = #{contractEndDate}
			,cleint_cd = #{clientCd}
			,contract_amount = #{contractAmount}
			,contract_contents = #{contractContents}
			,contract_type = #{contractType}
			,contract_registrant = #{contractRegistrant}
		WHERE contract_cd = #{contractCd}
	</update>
	
<!-- 계약 삭제 -->
	<delete id="contractDelete" parameterType="com.cafe24.hanboa.contract.Contract">
		DELETE 
		FROM TB_CONTRACT
		WHERE contract_cd = #{contractCd}
	</delete>
	
</mapper>