<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.hanboa.classformation.ClassMapper">
	
	<!-- 반리스트 출력 -->
	<select id="selectKidsClassList"
			resultType="com.cafe24.hanboa.classformation.KidsClass">
		SELECT
			kids_class_cd as kidsClassCd
			,class_nm as classNm
			,create_date as createDate
			,class_kids_age as classKidsAge
			,license_kindergarten as licenseKindergarten
		FROM hanboa.TB_KIDS_CLASS
	</select>
	
	<!-- 반 추가 -->
	<insert id="addKidsClass" 
			parameterType="com.cafe24.hanboa.classformation.KidsClass">
		<selectKey resultType="String" keyProperty="kidsClassCd" order="BEFORE">
			SELECT CONCAT('KI_CL', '_', (SELECT LPAD(COUNT(*)+1,4,'0') FROM TB_KIDS_CLASS ))
		</selectKey>
		INSERT INTO hanboa.TB_KIDS_CLASS
		VALUES (
			#{kidsClassCd}
			,#{classNm}
			,#{createDate}
			,#{classKidsAge}
			,#{licenseKindergarten}
			)
	</insert>
	<!-- 반 수정 -->
	<update id="modifyKidsClass"
			parameterType="com.cafe24.hanboa.classformation.KidsClass">
			UPDATE
			TB_KIDS_CLASS
		SET 
			class_nm = #{classNm}
			,create_date = #{createDate}
			,class_kids_age = #{classKidsAge}
		WHERE kids_class_cd = #{kidsClassCd}
	</update>	
	<!-- 반 삭제 -->
	<delete id="removeKidsClass"
			parameterType="com.cafe24.hanboa.classformation.KidsClass">
			DELETE 
			FROM hanboa.TB_KIDS_CLASS
			WHERE kids_class_cd = #{kidsClassCd}
	</delete>
	
	<insert id="addUnClassification"
			parameterType="com.cafe24.hanboa.classformation.ClassFormation">
		<!-- selectKey설정 - #{classFormationCd} : 문자열(CL_FO) + 마지막으로 입력된 코드 값에 1을 더한 결과 값 가져오기 -->
		<selectKey resultType="String" keyProperty="kidsClassFormationCd" order="BEFORE">
			SELECT CONCAT('CL_FO', '_', (SELECT LPAD(COUNT(*)+1,4,'0') FROM TB_KIDS_CLASS_FORMATION))
		</selectKey>
			INSERT INTO TB_KIDS_CLASS_FORMATION
				(kids_class_formation_cd,kids_cd)
			VALUES (
				#{kidsClassFormationCd}, #{kidsCd}
			)
	
	</insert>
	<!-- 분류 인원 리스트 -->
	<select id="kidsFormationList"
			resultType="com.cafe24.hanboa.classformation.KidsFormation">
	SELECT
			formation.kids_class_formation_cd as kidsClassFormationCd
			,kids.kids_cd as kidsCd
			,kids.kids_nm as kidsNm
			,kids.kids_gender as kidsGender
			,formation.kids_class_cd as kidsClassCd
			,class.class_nm as classNm
			,kids.kids_parent_phone as kidsParentPhone
		FROM TB_KIDS_CLASS_FORMATION formation JOIN
		TB_KIDS kids ON formation.kids_cd = kids.kids_cd
		JOIN TB_KIDS_CLASS class ON class.kids_class_cd = formation.kids_class_cd
		ORDER BY kids.kids_cd	
	</select>
	
	<!-- 미분류 인원 리스트 -->
	<select id="unFormationKidsList"
			resultType="com.cafe24.hanboa.classformation.KidsFormation">
	SELECT 
		formation.kids_class_formation_cd as kidsClassForamtionCd
		,kids.kids_cd as kidsCd
		,kids.kids_nm as kidsNm
		,kids.kids_gender as kidsGender
		,formation.kids_class_cd as kidsClassCd
		,kids.kids_parent_phone as kidsParentPhone
	FROM TB_KIDS_CLASS_FORMATION formation JOIN
	TB_KIDS kids ON formation.kids_cd = kids.kids_cd
	JOIN TB_KIDS_CLASS class ON formation.kids_class_cd is null
	GROUP BY kids.kids_cd 
	
	</select>
</mapper>