<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.hanboa.feeding.FeedingMapper">

<!-- 급식신청 전체조회 -->
	<select id="getFeedingApplication"
			resultType="com.cafe24.hanboa.feeding.FeedingApplication">
		SELECT
			feeding_application_cd as feedingApplicationCd
			,kids_cd as kidsCd
			,feeding_monthly_cd as feedingMonthlyCd
			,feap_expense_month as feapEspenseMonth
			,feap_closing_income as feapClosingIncome
			,feap_closing_option as feapClosingOption
			,feap_division as feapDivision
			,feap_registration_date as feapRegistrationDate
			,feap_registrant as feapRegistrant
			,license_kindergarten as licenseKindergarten
		FROM hanboa.TB_FEEDING_APPLICATION				
	</select>
<!-- 급식신청 업데이트 -->	
	<update id="feapModify" parameterType="com.cafe24.hanboa.feeding.FeedingApplication">
		UPDATE TB_FEEDING_APPLICATION
			SET
			feeding_application_cd = #{feedingApplicationCd}
			,kids_cd = #{kidsCd}
			,feap_expense_month = #{feedingMonthlyCd}
			,feap_closing_income = #{feapClosingIncome}
			,feap_closing_option = #{feapClosingOption}
			,feap_division = #{feapDivision}
		WHERE feeding_application_cd = #{feedingApplicationCd} 	
	</update>
			
	
<!-- 식단메뉴조회 -->
	<select id="getFeedingMenuList"
			resultType="com.cafe24.hanboa.feeding.FeedingMenu">
		SELECT
			feeding_menu_cd as feedingMenuCd
			,menu_date as menuDate
			,lunch_calory_protein as lunchCaloryProtein
			,morning_snack as morningSnack
			,afternoon_sanck as afternoonSnack
			,origin
			,menu_manager as menuManager
			,license_kindergarten as licenseKindergarten
		FROM hanboa.TB_FEEDING_MENU			
			</select>

</mapper>