<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.hanboa.feeding.FeedingMapper">

<!-- 급식신청 전체조회 -->
	<select id="getFeedingApplication"
			resultType="com.cafe24.hanboa.feeding.FeedingApplication">
		SELECT
			feeding_application_cd as feedingApplicationCd
			,kids_cd as kidsCd
			,feeding_monthly_cd as feedingMonthlyCd
			,feap_expense_month as feapEspenseMonth
			,feap_closing_income as feapClosingIncome
			,feap_closing_option as feapClosingOption
			,feap_division as feapDivision
			,feap_registration_date as feapRegistrationDate
			,feap_registrant as feapRegistrant
			,license_kindergarten as licenseKindergarten
		FROM hanboa.TB_FEEDING_APPLICATION				
	</select>
<!-- 급식신청 항목별조회 -->
	<select id = "selectFeapONE"
			resultType="com.cafe24.hanboa.feeding.FeedingApplication">
		SELECT 
			feeding_application_cd as feedingApplicationCd
			,kids_cd as kidsCd
			,feeding_monthly_cd as feedingMonthlyCd
			,feap_expense_month as feapExpenseMonth
			,feap_closing_income as feapClosingIncome
			,feap_closing_option as feapClosingOption
			,feap_division as feapDivision
		FROM hanboa.TB_FEEDING_APPLICATION
		WHERE feeding_application_cd = #{feedingApplicationCd}
	</select>
<!-- 급식신청 업데이트 -->	
	<update id="feapModify" parameterType="com.cafe24.hanboa.feeding.FeedingApplication">
		UPDATE TB_FEEDING_APPLICATION
			SET
			feeding_application_cd = #{feedingApplicationCd}
			,kids_cd = #{kidsCd}
			,feeding_monthly_cd = #{feedingMonthlyCd}
			,feap_expense_month = #{feapExpenseMonth}
			,feap_closing_income = #{feapClosingIncome}
			,feap_closing_option = #{feapClosingOption}
			,feap_division = #{feapDivision}
		WHERE feeding_application_cd = #{feedingApplicationCd}
	</update>
			
	
<!-- 식단메뉴조회 -->
	<select id="getFeedingMenuList"
			resultType="com.cafe24.hanboa.feeding.FeedingMenu">
	SELECT
			feeding_menu_cd as feedingMenuCd
			,feme_date as menuDate
			,feme_lunch_calory_protein as lunchCaloryProtein
			,feme_morning_snack as morningSnack
			,feme_afternoon_snack as afternoonSnack
			,feme_origin as origin 
			,feme_manager as menuManager
			,license_kindergarten as licenseKindergarten
		FROM hanboa.TB_FEEDING_MENU		
			</select>
			
			
<!-- 식중독현황 조회 -->
	<select id="getFepoList"
			resultType="com.cafe24.hanboa.feeding.FeedingPoisonning">
		SELECT
			food_poisonning_generation_cd as foodPoisonningGenerationCd
			,feeding_monthly_cd as feedingMonthlyCd
			,fopo_generation_date as fepoGenerationDate
			,fopo_whole_kids_count as fopoWholeKidsCount
			,fopo_generated_kids_count as fopoGeneratedKidsCount
			,fopo_food_poisonning_kids as fopoFoodPoisonningKids
			,fopo_processing_result as fopoProcessingResult
			,fopo_registration_date as fopoRegistrationDate
			,fopo_registrant as registrant
			,license_kindergarten as licenseKindergarten
		FROM TB_FOOD_POISONNING_PROCESSING			
	</select>

</mapper>