<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.hanboa.statement.StatementMapper">

<select id="selectStatementCategory"
		resultType="com.cafe24.hanboa.statement.StatementCategory">
	SELECT
		statement_cate_cd as statementCateCd
		,statement_cate_nm as statementCateNm
	FROM hanboa.TB_STATEMENT_CATEGORY
</select>

</mapper>