<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.hanboa.teacher.TeacherMapper">

<!-- 교직원 목록 조회 -->
	<select id="getTeacherList"
			resultType="com.cafe24.hanboa.teacher.Teacher">
		SELECT
			teacher_cd				AS teacherCd
			,teacher_nm				AS teacherNm
			,teacher_date_of_birth	AS teacherDateOfBirth
			,teacher_phone			AS teacherPhone
			,teacher_email			AS teacherEmail
			,teacher_pw				AS teacherPw
			,teacher_address		AS teacherAddress
			,teacher_entry_date		AS teacherEntryDate
			,teacher_position		AS teacherPosition
			,teacher_bank			AS teacherBank
			,teacher_account		AS teacherAccount
			,teacher_pay_step		AS teacherPayStep
			,license_kindergarten	AS licenseKindergarten
		FROM hanboa.TB_TEACHERS
	</select>
	
<!-- 교직원 개인 조회 -->
	<select id="getTeacherOne"
			resultType="com.cafe24.hanboa.teacher.Teacher">
		SELECT
			teacher_cd				AS teacherCd
			,teacher_nm				AS teacherNm
			,teacher_date_of_birth	AS teacherDateOfBirth
			,teacher_phone			AS teacherPhone
			,teacher_email			AS teacherEmail
			,teacher_pw				AS teacherPw
			,teacher_address		AS teacherAddress
			,teacher_entry_date		AS teacherEntryDate
			,teacher_position		AS teacherPosition
			,teacher_bank			AS teacherBank
			,teacher_account		AS teacherAccount
			,teacher_pay_step		AS teacherPayStep
			,license_kindergarten	AS licenseKindergarten
		FROM hanboa.TB_TEACHERS
		WHERE teacher_cd = #{teacherCd}
	</select>	
	
<!-- 교직원 로그인 -->
	<select id="login"
			parameterType="com.cafe24.hanboa.teacher.Teacher"
			resultType="com.cafe24.hanboa.teacher.Teacher">
		SELECT
			teacher_cd				AS teacherCd
			,teacher_nm				AS teacherNm
			,teacher_date_of_birth	AS teacherDateOfBirth
			,teacher_phone			AS teacherPhone
			,teacher_email			AS teacherEmail
			,teacher_pw				AS teacherPw
			,teacher_address		AS teacherAddress
			,teacher_entry_date		AS teacherEntryDate
			,teacher_position		AS teacherPosition
			,teacher_bank			AS teacherBank
			,teacher_account		AS teacherAccount
			,teacher_pay_step		AS teacherPayStep
			,license_kindergarten	AS licenseKindergarten
		FROM hanboa.TB_TEACHERS
		WHERE teacher_email = #{teacherEmail} AND teacher_pw = #{teacherPw} 
	</select>	

<!-- 교직원 등록 -->
	<insert id="insertTeacher"
			parameterType="com.cafe24.hanboa.teacher.Teacher">
		<!-- selectKey설정 - #{teacherCd} : 문자열(TEAC_) + 마지막으로 입력된 코드 값에 1을 더한 결과 값 가져오기 --> 
		<selectKey resultType="String" keyProperty="teacherCd" order="BEFORE">
			SELECT CONCAT('TEAC', '_', (SELECT LPAD(COUNT(*)+1,4,'0') FROM TB_TEACHERS ))
		</selectKey>
		INSERT INTO hanboa.TB_TEACHERS (
			teacher_cd
			,teacher_nm
			,teacher_email
			,teacher_phone
			,teacher_pw
			,license_kindergarten		
		)
		VALUES (
			#{teacherCd}
			,#{teacherNm}
			,#{teacherEmail}
			,#{teacherPhone}
			,#{teacherPw}
			,#{licenseKindergarten}
		)
	</insert>
	
<!-- 교직원 수정 -->
	<update id="updateTeacher"
			parameterType="com.cafe24.hanboa.teacher.Teacher">
		UPDATE hanboa.TB_TEACHERS
			SET teacher_nm				= #{teacherNm}
				,teacher_date_of_birth	= #{teacherDateOfBirth}
				,teacher_phone			= #{teacherPhone}
				,teacher_email			= #{teacherEmail}
				,teacher_address		= #teacherAddress}
				,teacher_position		= #{teacherPosition}
				,teacher_bank			= #{teacherBank}
				,teacher_account		= #{teacherAccount}
				,teacher_pay_step		= #{teacherPayStep}
		WHERE	teacher_cd = #{teacherCd}
	</update>
	
<!-- 교직원 삭제 & 탈퇴 -->
	<delete id="deleteTeacher"
			parameterType="com.cafe24.hanboa.teacher.Teacher">
		DELETE 
		FROM hanboa.TB_TEACHERS
		WHERE teacher_cd = #{teacherCd}
	</delete>
	
<!-- 교직원 인건비 지급 목록 전체 조회 -->
	<!-- <select id="getTeacherPayList"
			resultType="com.cafe24.hanboa.teacher.TeacherPay">
		SELECT
			pay_cd					AS payCd
			,teacher_cd				AS teacherCd
			,pay_payment			AS payPayment
			,pay_closing_cd			AS payClosingCd
			,pay_closing_option		AS payClosingOption
			,pay_registration_date	AS payRegistrationDate
			,pay_registrant			AS payRegistrant
			,license_kindergarten	AS licenseKindergarten
		FROM hanboa.TB_TEACHER_PAY
	</select> -->
	
<!-- 교직원 인건비 지급 목록 개인 조회 -->
	<select id="getTeacherPayOne">
		SELECT
			pay_cd					AS payCd
			,teacher_cd				AS teacherCd
			,pay_payment			AS payPayment
			,pay_closing_cd			AS payClosingCd
			,pay_closing_option		AS payClosingOption
			,pay_registration_date	AS payRegistrationDate
			,pay_registrant			AS payRegistrant
			,license_kindergarten	AS licenseKindergarten		
		FROM hanboa.TB_TEACHER_PAY
		WHERE teacher_cd = #{teacherCd}
	</select>
	
<!-- 교직원 인건비 지급 등록 -->
	<insert id="insertTeacherPay">
		<!-- selectKey설정 - #{teacherCd} : 문자열(TEAC_) + 마지막으로 입력된 코드 값에 1을 더한 결과 값 가져오기 --> 
		<selectKey resultType="String" keyProperty="payCd" order="BEFORE">
			SELECT CONCAT('PAY', '_', (SELECT LPAD(COUNT(*)+1,4,'0') FROM TB_TEACHER_PAY ))
		</selectKey>
		INSERT INTO hanboa.TB_TEACHER_PAY (
			pay_cd
			,teacher_cd
			,pay_payment
			,pay_closing_cd
			,pay_closing_option
			,pay_registration_date
			,pay_registrant
			,license_kindergarten)
		VALUES (
			#{payCd}
			,#{teacherCd}
			,#{payPayment}
			,#{payClosingCd}
			,#{payClosingOption}
			,CURDATE()
			,#{payRegistrant}
			,#{licenseKindergarten}
		)
	</insert>
	
<!-- 교직원 인건비 지급 수정 -->
	<update id="updateTeacherPay">
		UPDATE INTO hanboa.TB_TEACHER_PAY
			SET pay_payment				= #{payPayment}
				,pay_closing_cd			= #{payClosingCd}
				,pay_closing_option 	= #{payClosingOption}
				,pay_registration_date	= #{payRegistrationDate}
				,pay_registrant			= #{payRegistrant}
				,license_kindergarten	= #{licenseKindergarten}
		WHERE teacher_cd = #{teacherCd}
	</update>
	
<!-- 교직원 인건비 지급 삭제 -->
	<delete id="deleteTeacherPay">
		DALETE
		FROM hanboa.TB_TEACHER_PAY
		WHERE teacher_cd = #{teacherCd}
	</delete>

<!-- 교직원 인건비 연 & 월 별 조회-->
	<select id="getTeacherPayList" resultMap="TeacherAndTeacherPay" parameterType="java.util.Map">
		SELECT T.teacher_nm
			,TP.pay_payment
		FROM TB_TEACHERS T
		JOIN TB_TEACHER_PAY TP
		ON T.teacher_cd = TP.teacher_cd
		WHERE year(pay_registration_date) LIKE CONCAT('%',#{year},'%')
		AND month(pay_registration_date) LIKE CONCAT('%',#{month},'%')
	</select>
	
<!-- TeacherAndTeacherPay list parameter getting : resultMap 설정-->

<!-- resultMap : Teacher -->
<!-- teacher와 teacherPay를 모두 가지는 DTO를 생성, 그 클래스를 가지고 resultMap을 만들었다.
	teacher DTO에 TeacherPay 클래스 호출해 teacherPay 객체를 생성 하는 방법 
	, List<TeacherPay> list 를 선언하는 방법 두가지 다
	 collection태그를 이용해서 하는데 property를 가져오지 못해서 되지않았다. -->
	<resultMap type="com.cafe24.hanboa.teacher.TeacherAndTeacherPay"
				id="TeacherAndTeacherPay">
		<result property="teacherCd" column="teacher_cd"></result>
		<result property="teacherNm" column="teacher_nm"></result>
		<result property="teacherDateOfBirth" column="teacher_date_of_birth"></result>
		<result property="teacherPhone" column="teacher_phone"></result>
		<result property="teacherEmail" column="teacher_email"></result>
		<result property="teacherAddress" column="teacher_address"></result>
		<result property="teacherEntryDate" column="teacher_entry_date"></result>
		<result property="teacherPosition" column="teacher_position"></result>
		<result property="teacherBank" column="teacher_bank"></result>
		<result property="teacherAccount" column="teacher_account"></result>
		<result property="teacherPayStep" column="teacher_pay_step"></result>
		<result property="licenseKindergarten" column="license_kindergarten"></result>
		<result property="payCd" column="pay_cd"></result>
		<result property="payPayment" column="pay_payment"></result>
		<result property="payClosingCd" column="pay_closing_cd"></result>
		<result property="payClosingOption" column="pay_closing_option"></result>
		<result property="payRegistrationDate" column="pay_registration_date"></result>
		<result property="payRegistrant" column="pay_registrant"></result>
	</resultMap>
	
<!-- resultMap : TeacherPay -->
<!-- 	<resultMap type="com.cafe24.hanboa.teacher.TeacherPay"
				id="TeacherPay">
		<result property="payCd" column="pay_cd"></result>
		<result property="payPayment" column="pay_payment"></result>
		<result property="payClosingCd" column="pay_closing_cd"></result>
		<result property="payClosingOption" column="pay_closing_option"></result>
		<result property="payRegistrationDate" column="pay_registration_date"></result>
		<result property="payRegistrant" column="pay_registrant"></result>
	</resultMap>	 -->
</mapper>
