<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.hanboa.teacher.TeacherMapper">

<!-- 교직원 목록 조회 -->
	<select id="getTeacherList"
			resultType="com.cafe24.hanboa.teacher.Teacher">
	SELECT
		teacher_cd				AS teacherCd
		,teacher_nm				AS teacherNm
		,teacher_date_of_birth	AS teacherDateOfBirth
		,teacher_phone			AS teacherPhone
		,teacher_email			AS teacherEmail
		,teacher_pw				AS teacherPw
		,teacher_address		AS teacherAddress
		,teacher_entry_date		AS teacherEntryDate
		,teacher_position		AS teacherPosition
		,teacher_bank			AS teacherBank
		,teacher_account		AS teacherAccount
		,teacher_pay_step		AS teacherPayStep
		,license_kindergarten	AS licenseKindergarten
	FROM hanboa.TB_TEACHERS
	</select>
	
<!-- 교직원 개인 조회 -->
	<select id="getTeacherOne"
			resultType="com.cafe24.hanboa.teacher.Teacher">
	SELECT
		teacher_cd				AS teacherCd
		,teacher_nm				AS teacherNm
		,teacher_date_of_birth	AS teacherDateOfBirth
		,teacher_phone			AS teacherPhone
		,teacher_email			AS teacherEmail
		,teacher_pw				AS teacherPw
		,teacher_address		AS teacherAddress
		,teacher_entry_date		AS teacherEntryDate
		,teacher_position		AS teacherPosition
		,teacher_bank			AS teacherBank
		,teacher_account		AS teacherAccount
		,teacher_pay_step		AS teacherPayStep
		,license_kindergarten	AS licenseKindergarten
	FROM hanboa.TB_TEACHERS
	WHERE teacher_cd = #{teacherCd}
	</select>	
	
<!-- 교직원 로그인 -->
	<select id="login"
			parameterType="com.cafe24.hanboa.teacher.Teacher"
			resultType="com.cafe24.hanboa.teacher.Teacher">
	SELECT
		teacher_cd				AS teacherCd
		,teacher_nm				AS teacherNm
		,teacher_date_of_birth	AS teacherDateOfBirth
		,teacher_phone			AS teacherPhone
		,teacher_email			AS teacherEmail
		,teacher_pw				AS teacherPw
		,teacher_address		AS teacherAddress
		,teacher_entry_date		AS teacherEntryDate
		,teacher_position		AS teacherPosition
		,teacher_bank			AS teacherBank
		,teacher_account		AS teacherAccount
		,teacher_pay_step		AS teacherPayStep
		,license_kindergarten	AS licenseKindergarten
	FROM hanboa.TB_TEACHERS
	WHERE teacher_email = #{teacherEmail} AND teacher_pw = #{teacherPw} 
	</select>	

</mapper>
