<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cafe24.hanboa.attendance.AttendanceMapper">
	<!-- 교직원 start -->
	<!-- 1. 교직원 출근 입력 -->
	<insert id="insertTeacherAttendance" parameterType="com.cafe24.hanboa.attendance.TeacherAttendance">
		<!-- selectKey설정 - #{attendanceCd} : 문자열(ATTE) + 마지막으로 입력된 코드 값에 1을 더한 결과 값 가져오기 --> 
		<selectKey resultType="String" keyProperty="attendanceCd" order="BEFORE">
			SELECT CONCAT('ATTE', '_', (SELECT LPAD(COUNT(*)+1,4,'0') FROM TB_TEACHER_ATTENDANCE ))
		</selectKey>
		INSERT INTO TB_TEACHER_ATTENDANCE (
			ATTENDANCE_CD
			, TEACHER_CD
			, TEACHER_ATTENDANCE_DAY
			, TEACHER_ATTENDANCE
			, TEACHER_REST_LATE_TYPE
			, LICENSE_KINDERGARTEN
		) VALUES (
			#{attendanceCd}
			, #{teacherCd}
			, #{teacherAttendanceDay}
			, #{teacherAttendance}
			, #{teacherRestLateType}
			, #{licenseKindergarten}
		)
	</insert>
	<!-- 2. 교직원 출퇴근 조회(원장용) -->
	<select id="selectTeacherAttendance" parameterType="String" resultType="com.cafe24.hanboa.attendance.TeacherAttendance">
		SELECT
			ATTENDANCE_CD AS attendanceCd
			, TEACHER_CD AS teacherCd
			, TEACHER_ATTENDANCE_DAY AS teacherAttendanceDay
			, TEACHER_ATTENDANCE AS teacherAttendance
			, TEACHER_GET_OFF AS teacherGetOff
			, TEACHER_REST_LATE_TYPE AS teacherRestLateType
			, LICENSE_KINDERGARTEN AS licenseKindergarten
		FROM TB_TEACHER_ATTENDANCE
	</select>
	<!-- 3-1. 교직원 출퇴근 개별 조회(선생님용) : 선생님 이름 불러오기 -->
	<select id="callTeacher" parameterType="String" resultType="com.cafe24.hanboa.teacher.Teacher">
		SELECT 
			TEACHER_NM as teacherNm 
		FROM TB_TEACHERS
		WHERE TEACHER_CD = #{teacherCd}
	</select>
	<!-- 3-2. 교직원 출퇴근 개별 조회+검색+페이징(선생님용) -->
	<select id="selectTeacherAttendanceOne" parameterType="java.util.Map" resultType="com.cafe24.hanboa.attendance.TeacherAttendance">
		SELECT
			ATTENDANCE_CD AS attendanceCd
			, TEACHER_CD AS teacherCd
			, TEACHER_ATTENDANCE_DAY AS teacherAttendanceDay
			, TEACHER_ATTENDANCE AS teacherAttendance
			, TEACHER_GET_OFF AS teacherGetOff
			, TEACHER_REST_LATE_TYPE AS teacherRestLateType
			, LICENSE_KINDERGARTEN AS licenseKindergarten
		FROM TB_TEACHER_ATTENDANCE
		WHERE TEACHER_CD = #{teacherCd}
		LIMIT #{startPage}, #{pagePerRow}
	</select>
	<!-- 3-3. 개별 교직원 출퇴근 수(페이징) -->
	<select id="selectTeacherAttCountByPage" resultType="int">
		SELECT COUNT(*) FROM TB_TEACHER_ATTENDANCE
		WHERE TEACHER_CD = #{teacherCd}
	</select>
	<!-- 4. 교직원 퇴근 업데이트 -->
	<update id="updateTeacherAttendance" parameterType="java.util.Map">
		UPDATE TB_TEACHER_ATTENDANCE
		SET
			TEACHER_GET_OFF = #{teacherGetOff}
			, TEACHER_REST_LATE_TYPE = #{teacherRestLateType}
		WHERE TEACHER_CD = #{teacherCd}
		AND TEACHER_ATTENDANCE_DAY = #{teacherAttendanceDay}
	</update>
	<!-- 교직원 end -->
	
	
	<!-- 영유아 start -->
	<!-- 1-1. 영유아 등원 입력 : 영유아 이름 가져오기 -->
	<select id="callKidsCd" resultType="String">
		SELECT 
			KIDS_CD AS kidsCd
		FROM TB_KIDS 
		WHERE KIDS_NM = #{kidsNm}
	</select>
	<!-- 1. 영유아 등원 입력 -->
	<insert id="insertKidsAttendance" parameterType="com.cafe24.hanboa.attendance.KidsAttendance">
		<!-- selectKey설정 - #{attendanceCd} : 문자열(ATTE) + 마지막으로 입력된 코드 값에 1을 더한 결과 값 가져오기 --> 
		<selectKey resultType="String" keyProperty="attendanceCd" order="BEFORE">
			SELECT CONCAT('ATTE', '_', (SELECT LPAD(COUNT(*)+1,4,'0') FROM TB_KIDS_ATTENDANCE ))
		</selectKey>
		INSERT INTO TB_KIDS_ATTENDANCE (
			ATTENDANCE_CD
			, KIDS_CD
			, KIDS_ATTENDANCE_DAY
			, KIDS_ATTENDANCE
			, KIDS_REST_LATE_TYPE
			, KIDS_REASON
			, LICENSE_KINDERGARTEN
		) VALUES (
			#{attendanceCd}
			, #{kidsCd}
			, #{kidsAttendanceDay}
			, #{kidsAttendance}
			, #{kidsRestLateType}
			, #{kidsReason}
			, #{licenseKindergarten}
		)
	</insert>
	<!-- 2. 교직원 등하원 전체 조회(교직원용) -->
	<select id="selectKidsAttendance" parameterType="String" resultType="com.cafe24.hanboa.attendance.KidsAttendance">
		SELECT
			ATTENDANCE_CD AS attendanceCd
			, KIDS_CD AS kidsCd
			, KIDS_ATTENDANCE_DAY AS kidsAttendanceDay
			, KIDS_ATTENDANCE AS kidsAttendance
			, KIDS_COME_HOME AS kidsComeHome
			, KIDS_REST_LATE_TYPE AS kidsRestLateType
			, KIDS_REASON AS kidsReason
			, LICENSE_KINDERGARTEN AS licenseKindergarten
		FROM TB_KIDS_ATTENDANCE
	</select>
	<!-- 3. 교직원 등하원 개인 조회(영유아용) -->
	<select id="selectKidsAttendanceOne" parameterType="String" resultType="com.cafe24.hanboa.attendance.KidsAttendance">
		SELECT
			ATTENDANCE_CD AS attendanceCd
			, KIDS_CD AS kidsCd
			, KIDS_ATTENDANCE_DAY AS kidsAttendanceDay
			, KIDS_ATTENDANCE AS kidsAttendance
			, KIDS_COME_HOME AS kidsComeHome
			, KIDS_REST_LATE_TYPE AS kidsRestLateType
			, KIDS_REASON AS kidsReason
			, LICENSE_KINDERGARTEN AS licenseKindergarten
		FROM TB_KIDS_ATTENDANCE
		WHERE KIDS_CD = #{kidsCd}
	</select>
	<!-- 4. 영유아 하원 입력(업데이트) -->
	<update id="updateKidsAttendance" parameterType="java.util.Map">
		UPDATE TB_KIDS_ATTENDANCE
		SET
			KIDS_COME_HOME = #{kidsComeHome}
			, KIDS_REST_LATE_TYPE = #{kidsRestLateType}
		WHERE KIDS_CD = #{kidsCd}
		AND KIDS_ATTENDANCE_DAY = #{kidsAttendanceDay}
	</update>
	<!-- 영유아 end -->
</mapper>