<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.hanboa.ProgramMapper">	
	<!-- 특별활동 -->
	<!-- 1-1. 특별활동 등록 : 특별활동 등록을 위한 통합자원 코드 불러오기 -->
	<select id="callTotalResource" resultType="com.cafe24.hanboa.totalResource.TotalResource">
		SELECT 
			TOTAL_RESOURCE_CD AS totalResourceCd
			, RESOURCE_NM AS resourceNm
		FROM TB_TOTAL_RESOURCE
		WHERE RESOURCE_GROUP_NM = "특별활동"
	</select>
	<!-- 1-2. 특별활동 등록 : 특별활동 등록을 위한 계약 코드 불러오기 -->
	<select id="callContract" resultType="com.cafe24.hanboa.contract.Contract">
		SELECT
			CONTRACT_CD as contractCd
			,CONTRACT_CONTENTS as contractContents
			,CONTRACT_TYPE as contractType
		FROM TB_CONTRACT	
	</select>
	<!-- 1-3. 특별활동 등록 -->
	<insert id="insertProgram" parameterType="com.cafe24.hanboa.program.Program">
		<!-- selectKey설정 - #{programCd} : 문자열(PROG) + 마지막으로 입력된 코드 값에 1을 더한 결과 값 가져오기 --> 
		<selectKey resultType="String" keyProperty="programCd" order="BEFORE">
			SELECT CONCAT('PROG', '_', (SELECT LPAD(COUNT(*)+1,4,'0') FROM TB_PROGRAM ))
		</selectKey>
		INSERT INTO TB_PROGRAM (
			PROGRAM_CD
			, TOTAL_RESOURCE_CD
			, PROGRAM_NM
			, PROGRAM_NUMBER_WEEK
			, PROGRAM_OPERATION_TIME
			, PROGRAM_OUTSOURCING_COST
			, PROGRAM_CLOSING_CD
			, PROGRAM_CLOSING_DIVISION
			, CONTRACT_CD
			, PROGRAM_REGISTRATION_DATE
			, PROGRAM_REGISTRANT
			, LICENSE_KINDERGARTEN
		) VALUES (
			#{programCd}
			, #{totalResourceCd}
			, #{programNm}
			, #{programNumberWeek}
			, #{programOperationTime}
			, #{programOutsourcingCost}
			, #{programClosingCd}
			, #{programClosingDivision}
			, #{contractCd}
			, #{programRegistrationDate}
			, #{programRegistrant}
			, #{licenseKindergarten}
		)
	</insert>
	<!-- 2. 특별활동 전체조회 -->
	<select id="getProgramList" parameterType="String" resultType="com.cafe24.hanboa.program.Program">
		SELECT  
			PROGRAM_CD AS programCd
			, TOTAL_RESOURCE_CD AS totalResourceCd
			, PROGRAM_NM AS programNm
			, PROGRAM_NUMBER_WEEK AS programNumberWeek
			, PROGRAM_OPERATION_TIME AS programOperationTime
			, PROGRAM_OUTSOURCING_COST AS programOutsourcingCost
			, PROGRAM_CLOSING_CD AS programClosingCd
			, PROGRAM_CLOSING_DIVISION AS programClosingDivision
			, CONTRACT_CD AS contractCd
			, PROGRAM_REGISTRATION_DATE AS programRegistrationDate
			, PROGRAM_REGISTRANT AS programRegistrant
			, LICENSE_KINDERGARTEN AS licenseKindergarten
		FROM TB_PROGRAM
	</select>
	<!-- 3-1. 특별활동 업데이트 정보요청 개별조회 -->
	<select id="selectProgramOne" parameterType="String" resultType="com.cafe24.hanboa.program.Program">
		SELECT  
			PROGRAM_CD AS programCd
			, PROGRAM_NM AS programNm
			, PROGRAM_NUMBER_WEEK AS programNumberWeek
			, PROGRAM_OPERATION_TIME AS programOperationTime
			, PROGRAM_OUTSOURCING_COST AS programOutsourcingCost
			, PROGRAM_CLOSING_CD AS programClosingCd
			, PROGRAM_CLOSING_DIVISION AS programClosingDivision
			, PROGRAM_REGISTRANT AS programRegistrant
		FROM TB_PROGRAM
		WHERE PROGRAM_CD = #{programCd}
	</select>
	<!-- 3-2. 특별활동 업데이트 -->
	<update id="programModify" parameterType="com.cafe24.hanboa.program.Program">
		UPDATE TB_PROGRAM
		SET 
			PROGRAM_NM = #{programNm}
			, PROGRAM_NUMBER_WEEK = #{programNumberWeek}
			, PROGRAM_OPERATION_TIME = #{programOperationTime}
			, PROGRAM_OUTSOURCING_COST = #{programOutsourcingCost}
			, PROGRAM_CLOSING_CD = #{programClosingCd}
			, PROGRAM_CLOSING_DIVISION = #{programClosingDivision}
			, PROGRAM_REGISTRANT = #{programRegistrant}
		WHERE PROGRAM_CD = #{programCd}
	</update>
	<!-- 4. 특별활동 삭제 -->
	<delete id="programDelete" parameterType="com.cafe24.hanboa.program.Program">
		DELETE 
		FROM TB_PROGRAM 
		WHERE  PROGRAM_CD = #{programCd}
	</delete>
	
	<!-- 특별활동신청 -->
	<!-- 1-1. 특별활동신청 등록 : 특별활동신청 등록을 위한 영유아 목록 불러오기 -->
	<select id="callKids" resultType="com.cafe24.hanboa.kids.Kids">
		SELECT 
			KIDS_CD AS kidsCd
			, KIDS_NM AS kidsNm
		FROM TB_KIDS
	</select>
	<!-- 1-2. 특별활동신청 등록 : 특별활동신청 등록을 위한 특별활동 목록 불러오기 -->
	<select id="callProgram" resultType="com.cafe24.hanboa.program.Program">
		SELECT
			PROGRAM_CD AS programCd
			, PROGRAM_NM AS programNm
			, PROGRAM_NUMBER_WEEK AS programNumberWeek
			, PROGRAM_OPERATION_TIME AS programOperationTime
			, PROGRAM_OUTSOURCING_COST AS programOutsourcingCost
		FROM TB_PROGRAM
	</select>
	<!-- 1-3. 특별활동신청 등록 -->
	<insert id="insertProgramApplication" parameterType="com.cafe24.hanboa.program.ProgramApplication">
		<!-- selectKey설정 - #{programApplCd} : 문자열(PROG) + 마지막으로 입력된 코드 값에 1을 더한 결과 값 가져오기 --> 
		<selectKey resultType="String" keyProperty="programApplCd" order="BEFORE">
			SELECT CONCAT('PR', '_', 'AP', '_', (SELECT LPAD(COUNT(*)+1,4,'0') FROM TB_PROGRAM_APPLICATION ))
		</selectKey>
		INSERT INTO TB_PROGRAM_APPLICATION (
			PROGRAM_APPL_CD
			, KIDS_CD
			, PROGRAM_CD
			, PRAP_DIVISION
			, PRAP_COST
			, PRAP_CLOSING_CD
			, PRAP_CLOSING_DIVISION
			, PRAP_REGISTRATION_DATE
			, PRAP_REGISTRANT
			, LICENSE_KINDERGARTEN
		) VALUES (
			#{programApplCd}
			, #{kidsCd}
			, #{programCd}
			, #{PRAPDivision}
			, #{PRAPCost}
			, #{PRAPClosingCd}
			, #{PRAPClosingDivision}
			, #{PRAPRegistrationDate}
			, #{PRAPRegistrant}
			, #{licenseKindergarten}
		)
	</insert>
	<!-- 2. 특별활동신청 전체조회+검색-->
	<select id="getProgramApplicationList" parameterType="java.util.Map" resultMap="programApplicationAllCall">
		SELECT
			k.KIDS_NM AS kidsNm
			, p.PROGRAM_NM AS programNm
			, pa.PROGRAM_APPL_CD AS programApplCd
			, pa.PRAP_DIVISION AS PRAPDivision
			, pa.PRAP_COST AS PRAPCost
			, pa.PRAP_CLOSING_CD AS PRAPClosingCd
			, pa.PRAP_CLOSING_DIVISION AS PRAPClosingDivision
			, pa.PRAP_REGISTRATION_DATE AS PRAPRegistrationDate
			, pa.PRAP_REGISTRANT AS PRAPRegistrant
		FROM TB_PROGRAM_APPLICATION pa 
		INNER JOIN TB_KIDS k ON pa.KIDS_CD = k.KIDS_CD
		INNER JOIN TB_PROGRAM p ON pa.PROGRAM_CD = p.PROGRAM_CD
		<if test="keyword != null">
			WHERE ${searchOption} LIKE CONCAT('%',#{keyword},'%')
		</if>
	</select>
	<!-- 3-1. 특별활동신청 업데이트 정보요청 개별조회 -->
	<select id="selectProgramApplicationOne" parameterType="String" resultType="com.cafe24.hanboa.program.ProgramApplication">
		SELECT 
			PROGRAM_APPL_CD AS programApplCd
			, PROGRAM_CD AS programCd
			, PRAP_DIVISION AS PRAPDivision
			, PRAP_COST AS PRAPCost
			, PRAP_CLOSING_CD AS PRAPClosingCd
			, PRAP_CLOSING_DIVISION AS PRAPClosingDivision
			, PRAP_REGISTRATION_DATE AS PRAPRegistrationDate
			, PRAP_REGISTRANT AS PRAPRegistrant
		FROM TB_PROGRAM_APPLICATION
		WHERE PROGRAM_APPL_CD = #{programApplCd} 
	</select>
	<!-- 3-2. 특별활동신청 업데이트 -->
	<update id="programApplicationModify" parameterType="com.cafe24.hanboa.program.ProgramApplication">
		UPDATE TB_PROGRAM_APPLICATION
		SET
			PRAP_DIVISION = #{PRAPDivision}
			, PRAP_CLOSING_CD = #{PRAPClosingCd}
			, PRAP_CLOSING_DIVISION = #{PRAPClosingDivision}
			, PRAP_REGISTRANT = #{PRAPRegistrant}
		WHERE PROGRAM_APPL_CD = #{programApplCd} 
	</update>
	<!-- 4. 특별활동신청 삭제 -->
	<delete id="programApplicationDelete" parameterType="com.cafe24.hanboa.program.ProgramApplication">
		DELETE 
		FROM TB_PROGRAM_APPLICATION 
		WHERE PROGRAM_APPL_CD = #{programApplCd}
	</delete>
</mapper>