<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.hanboa.ProgramMapper">	
	<insert id="ProgramAdd" parameterType="com.cafe24.hanboa.program.Program">
		INSERT INTO TB_PROGRAM
			(PROGRAM_CD, TOTAL_RESOURCE_CD, 
			PROGRAM_NM, PROGRAM_NUMBER_WEEK, 
			PROGRAM_OPERATION_TIME, PROGRAM_OUTSOURCING_COST, 
			PROGRAM_OUTSOURCING_COST, PROGRAM_CLOSING_OPTION, 
			CONTRACT_CD, PROGRAM_REGISTRATION_DATE, 
			PROGRAM_REGISTRANT, LICENSE_KINDERGARTEN) 
		VALUES 
			(${programCd}, ${totalResourceCd}, 
			${programNm}, ${programNumberWeek}, 
			${programOperationTime}, ${programOutsourcingCost}, 
			${programClosingCost}, ${programClosingoption}, 
			${contractCd}, ${programRegistrationDate}, 
			${programRegistrant}, ${licenseKindergarten});
	</insert>
	<select id="getProgramList" parameterType="String" resultType="com.cafe24.hanboa.program.Program">
		SELECT  
			PROGRAM_CD AS programCd
			, TOTAL_RESOURCE_CD AS totalResourceCd
			, PROGRAM_NM AS programNm
			, PROGRAM_NUMBER_WEEK AS programNumberWeek
			, PROGRAM_OPERATION_TIME AS programOperationTime
			, PROGRAM_OUTSOURCING_COST AS programOutsourcingCost
			, PROGRAM_CLOSING_COST AS programClosingCost
			, PROGRAM_CLOSING_OPTION AS programClosingoption
			, CONTRACT_CD AS contractCd
			, PROGRAM_REGISTRATION_DATE AS programRegistrationDate
			, PROGRAM_REGISTRANT AS programRegistrant
			, LICENSE_KINDERGARTEN AS licenseKindergarten
		FROM TB_PROGRAM
	</select>
	<select id="selectProgramOne" parameterType="String" resultType="com.cafe24.hanboa.program.Program">
		SELECT  
			PROGRAM_CD AS programCd
			, TOTAL_RESOURCE_CD AS totalResourceCd
			, PROGRAM_NM AS programNm
			, PROGRAM_NUMBER_WEEK AS programNumberWeek
			, PROGRAM_OPERATION_TIME AS programOperationTime
			, PROGRAM_OUTSOURCING_COST AS programOutsourcingCost
			, PROGRAM_CLOSING_COST AS programClosingCost
			, PROGRAM_CLOSING_OPTION AS programClosingoption
		FROM TB_PROGRAM
		WHERE PROGRAM_CD = #{programCd}
	</select>
	<update id="programModify" parameterType="com.cafe24.hanboa.program.Program">
		UPDATE TB_PROGRAM
		SET 
			PROGRAM_NM = #{programNm}
			, PROGRAM_NUMBER_WEEK = #{programNumberWeek}
			, PROGRAM_OPERATION_TIME = #{programOperationTime}
			, PROGRAM_OUTSOURCING_COST = #{programOutsourcingCost}
			, PROGRAM_CLOSING_COST = #{programClosingCost}
			, PROGRAM_CLOSING_OPTION = #{programClosingoption}
		WHERE PROGRAM_CD = #{programCd}
	</update>
	<delete id="programDelete" parameterType="com.cafe24.hanboa.program.Program">
		<if test="">
			
		</if>
	</delete>
</mapper>